[Unit]
Description=PostgreSQL service
Wants=etcd.service
Requires=docker.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/docker rm postgresql || exit 0'
ExecStart=/usr/bin/docker run --name=postgresql --rm=true \
	-e=HOME=/ \
	-e=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin \
	-e=LANGUAGE=en_US.UTF-8 -e=LANG=en_US.UTF-8 -e=LC_ALL=en_US.UTF-8 \
	-v=/var/etc/postgresql:/etc/postgresql \
	-v=/var/lib/postgresql:/var/lib/postgresql \
	-v=/var/log/postgresql:/var/log/postgresql \
	-p=5432:5432 -w=/var/lib/postgresql \
	nornagon/postgres \
	/usr/lib/postgresql/9.3/bin/postgres \
		-D /var/lib/postgresql/9.3/main \
		-c config_file=/etc/postgresql/9.3/main/postgresql.conf
ExecStartPost=-/usr/bin/etcdctl set /domains/unosoft.local/postgresql/%H:%i running
ExecStartPost=-/usr/bin/etcdctl set /services/postgresql/%H:%i running
ExecStartPost=-/usr/bin/etcdctl delete /domains/unosoft.local/postgresql/%H:%i running
ExecStartPost=-/usr/bin/etcdctl delete /services/postgresql/%H:%i running
Restart=always

[Install]
WantedBy=local.target
