[gerrit]
basePath = git
canonicalWebUrl = http://localhost:8080/

[database]
type = PostgreSQL
database = $DB_PORT_3306_TCP_ADDR:$DB_PORT_3306_TCP_PORT/gerrit

[auth]
type = HTTP

[sendemail]
smtpServer = mail.unosoft.local

[container]
user = gerrit
javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre

[sshd]
listenAddress = *:29418

[httpd]
listenUrl = http://*:8888/

[cache]
directory = cache
