[Unit]
Description=log2db service
Wants=etcd.service
Requires=docker.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/docker rm log2db || exit 0'
ExecStart=/usr/bin/docker run -name log2db \
	-p=8181:8181 -w=/var/lib/log2db -v=/var/lib/log2db:/var/lib/log2db \
	tgulacsi/log2db /sbin/my_init
ExecStartPost=-/usr/bin/etcdctl set /domains/unosoft.local/log2db/%H:%i running
ExecStartPost=-/usr/bin/etcdctl set /services/log2db/%H:%i running
ExecStopPost=-/usr/bin/etcdctl delete /domains/unosoft.local/ipthermo/%H:%i running
ExecStopPost=-/usr/bin/etcdctl delete /services/log2db/%H:%i
Restart=always

[Install]
WantedBy=local.target
